trigger:
- main

pool:
  name: SelfHostedPool

stages:
# -----------------------------
# 1. BUILD STAGE
# -----------------------------
- stage: Build
  jobs:
  - job: MavenBuild
    steps:
    - task: Maven@3
      inputs:
        mavenPomFile: 'pom.xml'
        mavenOptions: '-Xmx3072m'
        javaHomeOption: 'JDKVersion'
        jdkVersionOption: '1.11'
        jdkArchitectureOption: 'x64'
        publishJUnitResults: true
        testResultsFiles: '**/surefire-reports/TEST-*.xml'
        goals: 'package'

    - task: CopyFiles@2
      inputs:
        Contents: '**/*.war'
        TargetFolder: '$(Build.ArtifactStagingDirectory)'

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'warfiles'
        publishLocation: 'Container'


# -----------------------------
# 2. QA DEPLOY
# -----------------------------
- stage: Deploy_QA
  displayName: "Deploy to QA"
  dependsOn: Build
  jobs:
  - job: QADeployJob
    steps:

    - download: current
      artifact: warfiles

    - task: InstallSSHKey@0
      inputs:
        knownHostsEntry: '$(QA_HOST)'
        sshKeySecureFile: 'id_rsa'

    - task: Bash@3
      displayName: "Copy WAR to QA container"
      inputs:
        targetType: inline
        script: |
          scp warfiles/*.war $(SSH_USER)@$(QA_HOST):/usr/local/tomcat/webapps/

    - task: Bash@3
      displayName: "Restart Tomcat in QA"
      inputs:
        targetType: inline
        script: |
          ssh $(SSH_USER)@$(QA_HOST) "pkill java; /usr/local/tomcat/bin/startup.sh"


# -----------------------------
# 3. MANUAL APPROVAL BEFORE PROD
# -----------------------------
- stage: Approval
  dependsOn: Deploy_QA
  displayName: "Manual Approval Before Production"
  approval: true


# -----------------------------
# 4. PROD DEPLOY
# -----------------------------
- stage: Deploy_Prod
  displayName: "Deploy to Production"
  dependsOn: Approval
  jobs:
  - job: ProdDeployJob
    steps:

    - download: current
      artifact: warfiles

    - task: InstallSSHKey@0
      inputs:
        knownHostsEntry: '$(PROD_HOST)'
        sshKeySecureFile: 'id_rsa'

    - task: Bash@3
      displayName: "Copy WAR to Prod container"
      inputs:
        targetType: inline
        script: |
          scp warfiles/*.war $(SSH_USER)@$(PROD_HOST):/usr/local/tomcat/webapps/

    - task: Bash@3
      displayName: "Restart Tomcat in Prod"
      inputs:
        targetType: inline
        script: |
          ssh $(SSH_USER)@$(PROD_HOST) "pkill java; /usr/local/tomcat/bin/startup.sh"
