trigger:
- main

pool:
  name: SelfHostedPool

variables:
  WAR_NAME: 'webapp.war'

stages:

# ---------------------- #
#        BUILD STAGE     #
# ---------------------- #
- stage: Build
  displayName: "Build Java WAR"
  jobs:
  - job: BuildJob
    steps:
    - task: Maven@3
      inputs:
        mavenPomFile: 'pom.xml'
        mavenOptions: '-Xmx3072m'
        javaHomeOption: 'JDKVersion'
        jdkVersionOption: '1.11'
        jdkArchitectureOption: 'x64'
        publishJUnitResults: true
        testResultsFiles: '**/surefire-reports/TEST-*.xml'
        goals: 'package'

    - task: CopyFiles@2
      inputs:
        Contents: '**/*.war'
        TargetFolder: '$(Build.ArtifactStagingDirectory)'

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'warfiles'
        publishLocation: 'Container'


# ---------------------- #
#      QA DEPLOY STAGE   #
# ---------------------- #
- stage: Deploy_QA
  displayName: "Deploy to QA Container"
  dependsOn: Build
  jobs:
  - deployment: DeployQA
    displayName: "QA Deployment"
    environment: "projectx-qa"
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: warfiles

          - script: |
              echo "Encoding WAR as base64"
              base64 warfiles/$(WAR_NAME) > war.b64

              echo "Creating temp directory in container"
              az container exec --resource-group ProjectX-RG --name projectx-qa --exec-command "mkdir -p /tmp/deploy"

              echo "Copy WAR into QA container"
              az container exec --resource-group ProjectX-RG --name projectx-qa --exec-command "sh -c 'base64 -d > /tmp/deploy/ROOT.war'" < war.b64

              echo "Move WAR into Tomcat webapps/"
              az container exec --resource-group ProjectX-RG --name projectx-qa --exec-command "mv /tmp/deploy/ROOT.war /usr/local/tomcat/webapps/ROOT.war"

              echo "Restart QA container"
              az container restart --resource-group ProjectX-RG --name projectx-qa

            displayName: "Deploy WAR to QA"


# ---------------------- #
#   PROD DEPLOY STAGE    #
#   (Manual Approval)    #
# ---------------------- #
- stage: Deploy_Prod
  displayName: "Deploy to PROD Container"
  dependsOn: Deploy_QA
  jobs:
  - deployment: DeployProd
    displayName: "Production Deployment"
    environment: "projectx-prod"   # <-- this is where approval is triggered!
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: warfiles

          - script: |
              echo "Encoding WAR as base64"
              base64 warfiles/$(WAR_NAME) > war.b64

              echo "Creating temp directory in PROD container"
              az container exec --resource-group ProjectX-RG --name projectx-prod --exec-command "mkdir -p /tmp/deploy"

              echo "Copy WAR into PROD container"
              az container exec --resource-group ProjectX-RG --name projectx-prod --exec-command "sh -c 'base64 -d > /tmp/deploy/ROOT.war'" < war.b64

              echo "Move WAR into Tomcat webapps/"
              az container exec --resource-group ProjectX-RG --name projectx-prod --exec-command "mv /tmp/deploy/ROOT.war /usr/local/tomcat/webapps/ROOT.war"

              echo "Restart PROD container"
              az container restart --resource-group ProjectX-RG --name projectx-prod

            displayName: "Deploy WAR to PROD"
